<h1>Most Dangerous Day</h1>
<p><%= @search.start_date.to_datetime.strftime("%B %-d, %Y") %> - <%= @search.end_date.to_datetime.strftime("%B %-d, %Y") %></p>
<h2><span class="most_dangerous_day"><%= @search.most_dangerous_day.to_s.to_datetime.strftime("%B %-d, %Y") %></span> has <%= @search.neos.count %> potentially dangerous near earth objects</h2>
<% @search.neos.each do |neo| %>
<ul class="neo">
  <li class="name">Name: <%= neo.name %></li>
  <li class="reference_id">NEO Reference ID: <%= neo.reference_id %></li>
</ul>
<% end %>
